body{
    background-color: rgb(201, 181, 200);
}


/* index page */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b938a8a9;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466);
    color: azure;
    /* height: 10%; */
}
.navbar a{
    color: azure;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(139, 62, 127);
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin-right: 20px;
}

.content-frame{
    display: flex;
    width: 1347px;
    height: 550px;
    border-radius: 0 0 8px 8px;
    /* margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466); */

}

/* Home page */
.big{
    display:flex; 
    width: 100%;
    margin:0;
    padding:0;
}
.info{
    color: azure;
    width: 60%;
    margin:0;
    padding:0;
    
}
.info h3{
    color: azure;
}
.home-img{
    width: 40%;
    margin:0;
    padding:0;
}
.home-img img{
    width: 100%;
    height: 75%;
    /* width: 650px;
    height: 535px;  */
    border-radius: 5px;
}


/* hobbies page */
.images{
    background-color: azure;
    width: 90%;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.image-container{
    background-color: azure;
    width: 100%;
    height: 500px;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
}
.images p{
    color:blueviolet;
}
.h1style{
    text-align: center;
    color: azure;
}
.images span{
    transition: transform 0.3s ease-in-out;
}
.images span:hover{
    transform: scale(1.2);
}


/* cv page */
.cv{
    /* display:flex; */
    /* justify-content:center; */
    /* align-items: center; */
    background: azure;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466);
    width: 400px;
    /* background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466);
    width: 400px;
    /* justify-content: center; */
}


/* BD page */
.b{
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #f9f9f9; */
}
.BD-container{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466);
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.BD-container h1 , h2{
    color: #770f69;
}
.BD-container form{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466);
    width: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    animation: showform 5s forwards;
}
@keyframes showform{
    0% , 99%{
        display: none;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.BD-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:#770f69;

}
.BD-container form textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: auto; */
}
.BD-container form button {
    background-color: rgb(139, 62, 127);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.BD-container img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    animation: hideimge 5s forwards;
}
@keyframes hideimge{
    0% , 99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.BD-container img:not(:target) + form{
    display: block;
}

/* thank you page */
.thx{
    background-color: azure;
    width: 1250px;
    height: 520px;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
}
.thx h1{
    color: rgb(139, 62, 127);
}


/* countries page */
.slideshow-container{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-right: 250px;
    margin-left: 80px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* background-color: azure; */
}
@-webkit-keyframes slide_animation {
    0% {
        left: -1200px; /* Shift to reveal the leftmost part */
    }
    10% {
        left: -1200px;
    }
    20% {
        left: 0px; /* Reveal the middle part */
    }
    30% {
        left: 0px;
    }
    40% {
        left: 1200px; /* Reveal the right part */
    }
    50% {
        left: 1200px;
    }
    60% {
        left: 0px; /* Go back to the middle */
    }
    70% {
        left: 0px;
    }
    80% {
        left: -1200px; /* Go back to the leftmost */
    }
    90% {
        left: -1200px;
    }
    100% {
        left: -1200px;
    }
}

.wrapper{
    width: 3600px;
    height: 800px;
    /* margin: 0 0 0 -2400px; */
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state: running;
} 
.country{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.h3style{
    /* text-align: center; */
    color: azure;
}
.mySlides{
    width: 450px;
    height: 450px;
}


/* contact us page */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(223, 123, 206, 0.466);
    /* display: flex;
    width: 90%; */

    width: 400px;
    /* justify-content: center;
    align-items: center; */
}
.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#a11a8f;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:#770f69;
}
.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: auto; */
}
.form-container input[type="radio"],
.form-container input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
.form-container fieldset {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}
.form-container legend {
    font-weight: bold;
}
.form-container .actions {
    display: flex;
    justify-content: space-between;
}
.form-container .actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container .actions button[type="submit"] {
    background-color: #283499;
    color: #fff;
}
.form-container .actions button[type="reset"] {
    background-color: #dd3d6d;
    color: #fff;
}

/* Highlight required inputs */
.required-container label::after {
    content: " *";
    color: rgba(223, 123, 206, 0.466);
}

/* Styling invalid inputs */
input:invalid {
    border: 2px solid rgba(223, 123, 206, 0.466);
    width: 95%;
}

input:invalid + span {
    display: block;
    color: rgba(223, 123, 206, 0.466);
    font-size: 12px;
    visibility: visible;
}

/* Styling valid inputs */
input:valid {
    border: 2px solid white;
}

input:valid + span {
    visibility: hidden;
}
span {
    color: rgba(223, 123, 206, 0.753);
}
.contact{
    display:flex; 
    justify-content:center; 
    align-items: center; 

}
.contact p{
    color: #770f69;
}
.contact img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}